@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
.bg {
    min-width: 100%;
    height: auto;
    filter: blur(4px);
    overflow-x: hidden;
}
.home {
    overflow-x: hidden;
    background-color: #c4c4c4;
}
#text {
    font-family: 'Staatliches', cursive;
    font-size: 1.7rem;
    background-color: rgba(196, 196, 196, 0.7);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    letter-spacing: 0.2rem;
}

.text-contain {
    position: absolute;
    top: 10%;
    
}

.fadeOnHover {
    background-color: rgba(196, 196, 196, 0.6);
    transition: 0.5s;
}

.fadeOnHover:hover {
    background-color: rgba(211, 211, 211, 0.99);
    transition: 0.5s
}
#text h6 {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 0px;
}

#buttons {
    position: relative;
    width: 100%;
    top: 55%;
    left:0;
}
.bg-button {
    
    background-color: rgba(196, 196, 196, 0.7);
}

.header-italic {
    font-style: italic;
}

.about-para {
    font-size: 1.2rem;
}

.about-project {
    background: rgb(196,196,196);
    background: linear-gradient(0deg, rgba(196,196,196,1) 0%, rgba(10,118,255,1) 5%, rgba(178,242,255,1) 95%, rgba(196,196,196,1) 100%);
    
}
.footer {
    background-color: #494949;
}
@keyframes fade {
    from {
        opacity:0;
    }
    to {
        opacity:1
    }
}


#game {
    margin-right: 1vw;
    margin-left: 1vw;
}

.top-bar-question {
    margin-top: 20px;
}

#time {
    font-family: 'Roboto', sans-serif;
}

.main-question {
    width: 90vw;
    margin: auto;
    background-color: #dfdfdf;
}

.image-question {
    height: 40vh;
    width: auto;
}
.image-question-mobile {
    width: 100vw;
    height: auto;
}

.totalPoints {
    background-color: rgb(88, 88, 88);
    color: white;
    max-width: 100px;
}


.question-button {
    text-transform: unset !important;
    width: 100%;
    height: 10vh;
    color: white;
    font-size: 1.4rem;
}

.leaderboard {
    background: rgb(137,165,195);
    background: linear-gradient(180deg, rgba(137,165,195,1) 0%, rgba(78,120,163,1) 3%, rgba(31,107,185,1) 98%, rgba(137,165,195,1) 100%);
}

.leaderboard-list {
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: italic;
    text-align: left;
    font-size: 2vw;
}
.planesYouSaw {
    
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(21,120,227,1) 5%, rgba(159,195,233,1) 100%);
    width: 100vw;
    left: 0;
}
.planesYouSaw::after {
    content: "";
    clear: both;
    display: table;
  }

.planeComp {
    background: rgba(207, 207, 207, 0.57);
    margin-bottom: 3px;
    border-radius: 2px;
    width: 80vw
}
.imgContainerEnd {
    padding: 2px 2px 2px 2px;
}
.planeImgEnd {
    max-width: 100%;
    margin-right: 2vw;
}
